@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Demo.Models.Category>
    <div class="container-fluid">
        <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
            <div class="col-lg-4">
                <a href="/Home/Index" class="text-decoration-none">
                    <span class="h1 text-uppercase text-primary1 bg-dark px-2">LAPTOP</span>
                    <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">SLT</span>
                </a>
            </div>
            <div class="col-lg-4 col-6 text-left">
                <form asp-controller="Products" asp-action="Index">
                    <div class="input-group">
                    <select name="catId" class="input-select">
                        <option value="0">Tất cả danh mục</option>
                        @foreach (var item in Model)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                        <input type="text" class="form-control" name="keyword" placeholder="Search for products">
                        <div class="input-group-append">
                            <span class="input-group-text bg-transparent text-primary">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4 col-6 text-right">
                @if(User.Identity.IsAuthenticated && User.IsInRole("Admin"))
				{<div>
                <li><a href ="/Products/Create"type="button"  >Quản lí</li>
                <li><a href="/Users/Logout " type="button">Thoát</li>
                </div>
                }
                else if (User.Identity.IsAuthenticated && User.IsInRole("User"))
                 {
                <div><a href ="/Users/Logout "type="button"  >Thoát</div>
                   }
                else
                {
                <div><a href="/Users/Login " type="button" >Đăng nhập</div>
                }
            </div>
        </div>
    </div>
